@import "../styles/variables";

.container {
	margin: 0 auto;
	padding: 5rem 10rem;
	display: flex;
	background-color: $white;

	align-items: center;
	justify-content: flex-start; //Center
	gap: 0 10vw;

	@media (max-width: 1076px) {
		padding: 3rem;
	}

	@media (max-width: 768px) {
		flex-wrap: wrap;
		gap: 2rem;
		padding: 5rem;
	}

	@media (max-width: 470px) {
		padding: 2rem;
	}
}

.subTitle {
	font-size: 1.8rem;
	padding-bottom: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	opacity: 0.9;

	@media (max-width: 470px) {
		font-size: 2.3rem;
	}
}

.calendar {
	min-width: 35%;
	height: inherit;

	@media (max-width: 470px) {
		width: 100%;
		font-size: 0.8rem;
	}

	@media (max-width: 768px) {
		width: 100%;
	}

	div {
		height: inherit;
		display: flex;
		flex-direction: column;
		align-content: space-around;

		cursor: pointer;

		span {
			padding: 0.9rem;
			border-radius: 5px;
			background-color: white;
			color: #242276;
			font-weight: 700;
			margin-right: 1rem;
		}

		.event {
			padding: 1rem 1rem 1rem 0.1rem;
			color: white;
			border-bottom: 1px solid white;
			border-top: 1px solid white;
			background-color: #242276;
			border-radius: 5px;
			transition: all 0.4s ease-in-out;

			&:hover {
				background-color: rgb(228, 160, 59);
			}
		}
	}
}
