@import "../styles/variables";

.container {
  margin: 0 auto;
  padding: 5rem 10rem;
  gap: 1rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-content: center;

  @media (max-width: 1076px) {
    padding: 3rem;
    flex-wrap: wrap;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 5rem;
  }

  @media (max-width: 470px) {
    padding: 2rem;
  }
}

.subTitle {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  opacity: 0.9;
}

.calendar {
  min-width: 35%;
  height: inherit;

  @media (max-width: 470px) {
    width: 100%;
    font-size: 0.8rem;
  }

  div {
    cursor: pointer;

    .event {
      display: flex;
      flex-direction: column;
      height: 100px;
      color: $white;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      border-radius: 5px;
    }
  }
}

.date {
  display: flex;
  align-items: flex-start;
  padding: 0.9rem;
  border-radius: 5px 5px 0 0;
  background: $blue url("/pixel.webp") no-repeat center right 15px;
  background-size: 30px;
  color: $textColor;
  font-weight: 700;
  width: 100%;
}

.dateTitle {
  font-weight: 600;
}

.dateInfo {
  background: $blue2;
  color: $textColor;
  margin-bottom: 1rem;
  padding: 0.9rem;
  border-radius: 0 0 5px 5px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $hover;
  }
}

.widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    width: 370px;
  }

  iframe {
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    width: 100%;

    div {

    }
  }
}

.playlist {
  background: $blue;
  color: $textColor;
  padding: 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;

  h3 {
    font-family: "Poppins", sans-serif;
  }

}
